
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="LunchCheck">
<head>
    <title></title>
    <link href="bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="form-group lunchForm" ng-controller="LunchCheckController">
        <textarea class="form-control" rows="5" id="comment" ng-model="items"></textarea>
        <button type="button" class="btn btn-info" ng-click="subm(items)">Check If Too Much</button>
        <p>{{property}}</p>
    </div>
	
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
