
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="LunchCheck">
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
</head>

<body>

    <div class="form-group lunchForm" ng-controller="LunchCheckController">
        <input type="text" class="form-control" rows="5" id="comment" ng-model="items"></textarea>
        <button type="button" class="btn btn-info" ng-click="subm(items)">Check If Too Much</button>
        <p>{{property}}</p>
    </div>
	
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
    <script src="app.js"></script>
</body>
</html>
